@import models.Task
@(taskList : List[Task])


@main("List taches") {
  <h1>Liste des taches</h1>

  <ul>
    @for(task <- taskList) {
    <li id="@task.getId()">

      @if(task.isDone()) {
      <input  type="checkbox" checked>
      }else{
      <input  type="checkbox">
      }
      <span class="title">@task.getTitle()</span>
      <a href="#" class="edit"><img src="@routes.Assets.versioned("images/edit.png")" alt="modifier la tache" width="10" height="10"></a>
      <a href="#" class="del"><img src="@routes.Assets.versioned("images/delete.png")" alt="supprimer la tache" width="10" height="10"></a>
    </li>
    }
  </ul>

  <p><a href="@routes.Application.ajouterTacheForm()">Ajouter une nouvelle tâche</a></p>

  <script type="text/javascript" charset="utf-8">

      // Validation d'une tâche (appel ajax - requête POST)
      $("input:checkbox").live("click", function(event){
          $.ajax({
              url: '@routes.Application.validerTache()',
              type: 'POST',
              contentType:'application/json',
              data: JSON.stringify({id: $(this).parent().attr('id'),done: $(this).prop('checked')}),
          });
      });


      // Suppression d'une tâche (appel ajax - requête DELETE)
      $('li a.del').click(function(event){
          // Annule l'action implicite
          // Ex. l'action implicite associée à un événement de type submit est l'envoi au serveur du formulaire concerné.
          event.preventDefault();

          // Affiche une popup de confirmation de suppression
          var confirmSuppr = confirm('Supprimer la tâche ?');
          // Si click sur ok, requête ajax vers serveur pour supprimer la tâche
          if(confirmSuppr) {
              // A COMPLETER
              // ...
              $.ajax({
                  url:  '@routes.Application.supprimerTache()',
                  type: 'DELETE',
                  contentType:'application/json',
                  data: JSON.stringify({id: parseInt($(this).parent().attr('id'))}),
                  success: function(result) {
                      $('#' + result.id).remove();
                  }
              });
          }
      });


      // Modification d'un tâche (appel ajax - requête PUT)
      $('li a.edit').click("click", function(event) {
          // Annule l'action implicite
          event.preventDefault();

          // Affiche une popup de modification avec le titre de la tâche actuelle
          var newTitle = prompt('Tâche : ', $(this).prev().text());
          // Si click sur ok, requête ajax vers serveur pour modifier la tâche
          if(newTitle) {
              // A COMPLETER
              // ...
              $.ajax({
                  url: '@routes.Application.editTache()',
                  type: 'PUT',
                  contentType:'application/json',
                  data: JSON.stringify({id : $(this).parent().attr('id'),title: newTitle}),
                  success: function(result) {
                      $('#' + result.id + ' span').text(result.title);
                  }
              });
          }
      });


  </script>

}
